/* CCS reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
  color: #333;
  text-decoration: none;
}

/* Grid setups */

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6em;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 4em 70% 8em 5em 50% 5em;
  grid-template-areas: 
    'nav nav'
    'video sidebar'
    'summary sidebar'
    'details sidebar'
    'comments sidebar'
    'footer footer'
}

/* Area assigments */

.search-bar {
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;


}

.sidebar {
    grid-area: sidebar;
}

.display {
    grid-area: video;
}

.summary {
    grid-area: summary;
}

.details {
    grid-area: details;
}

.comments {
    grid-area: comments;
}

.footer {
    grid-area: footer;
}

/* Search-bar items */
.search-bar-alignment{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: -webkit-fill-available;
}

.left{
    

}
.right{

}

.center{
    max-width: 650px;
}

#upload-icon{
    height: 16px;
    width: 16px;
}

#search-bar-menuimg{
    height: 16px;
    width: 16px;
}

#search-container{
    height: 50px;
    width: 100%;

}
#search-input{
    width: 100%;
}
#search-button{
    
    width: 16px;
}
#logo{
    
}

/* Debugging features */

.debug {
    border: 1px solid #333;
}